[[message-.{{name}}]]
.`{{name}}` - {{description}}
|===
|Field |Type |Description |Options

{{#fields}}

|{{name}} |{{{type}}} |{{description}} | {{#flags}}{{#mandatory}}yes{{/mandatory}}{{/flags}}

{{/fields}}

|===
